#containers log
*.log
*.pid

#postrgesql + puppygraph
data/pg-data/
data/pgpass/
data/pgpassp
data/servers.json/
data/puppygraph-data-backup/
data/puppygraph/
data/pg-admin-data/


# py venv
cellSigPyVenv/

#backend
**/__pycache__/*
**/*.pyc
**/.vscode/
backend/data/
backend/schema-schema.json
backend/working-schema.json
backend/models.py


**/newNetworkCircular.svelte
#frontend has its own .gitignore

**/data/
**/*.csv
**/tmp/
.env
.env.*
**.err
**.out
personalREADME.txt

puppygraph-data/
puppygraph-data-backup/
pg-data/

# cluttering files
backend/molecules.txt 
#file for stefan
frontend/src/routes/HeatmapBarplot.svelte 
#still rudimental attempt
hellooo.sql 
#tmp backup for Peter
