.env
.env.example
#containers log
*.log
*.pid

#postrgesql
data/pg-data/
data/ingest_data/

#backend
backend/__pycache__/
backend/.venv/
backend/.python-version
**/*.pyc
**/.vscode/
backend/data/
backend/schema-schema.json
backend/models.py

#frontend has its own .gitignore
**/data/
# **/*.csv
**/tmp/
**.err
**.out

backend/.venv/
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/
frontend/.env
frontend/.env.production
pg-vec-geo/